# Stricter dependency rules for our dependencies. Why not.
hoist=false

# It is more useful to immediately see how much node_modules size has changed
# than to make installs slightly faster when switching git branches.
modules-cache-max-age=0

# Neat, but let's wait for https://github.com/pnpm/pnpm/issues/9019.
#verify-deps-before-run=prompt
