@use "sass:math";

// Taken from bootstrap's _forms.scss
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  line-height: normal;
}

.v-common-form-control {
  display: block;
  width: 100%;
}

.v-common-form-item {
  display: block;
  margin-bottom: math.div($line-height-computed, 2);
  @include make-row();
  max-width: 40em;
}

.v-common-form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  @media (min-width: $screen-sm-min) {
    text-align: right;
    margin-bottom: 0;
  }
}
