
$uniba-color: #B3231B;
$brand-primary: $uniba-color;
$link-color: $uniba-color;

$font-size-base: 13px;
$font-size-h4: 18px;
$font-family-monospace: 9pt monospace;

$code-color: #333;   // $text-color
$code-bg: #F5F5F5;

$nav-link-padding: 8px 13px;

$navbar-inverse-bg: #535250;
$navbar-inverse-color: #ADADAD;
$navbar-inverse-link-color: #ADADAD;

$table-condensed-cell-padding: 4px;


@import "votr-bootstrap";
@import "layout";
@import "forms";


html, body {
  position: relative;
  height: 100%;
}

body, .modal-open .modal {
  overflow-y: scroll;
}

a {
  text-decoration: underline;
  cursor: pointer;   // for Votr.FakeLink
}

.nav a {
  text-decoration: none;
}

.nav .disabled a {
  text-decoration: line-through !important;
  cursor: auto !important;
}

.navbar-brand {
  text-decoration: none;
  font-weight: bold;
}

.text-pill {
  position: relative;
  display: block;
  padding: $nav-link-padding;
}

.selector {
  background: $gray-lighter;
  padding: 3px;
  border-radius: $border-radius-large;
  display: inline-block;

  li a:hover, li a:focus {
    background-color: #ddd;
  }
  .text-pill {
    color: $gray-light;
  }
}

.loading {
  background-image: url(spinner.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

.table-bordered {
  th, td {
    border-left-style: none !important;
    border-right-style: none !important;
  }
}

.table-narrow {
  width: auto;
}

th.sort {
  cursor: pointer;
  &.asc, &.desc {
    background: $gray-lighter;
  }
  /* TODO: Decide if we want this.
  &:after {
    content: "\00a0↕";   // \00a0 is &nbsp;
    color: $gray-light;
  }
  */
  &.asc:after {
    content: "\00a0↑";   // \00a0 is &nbsp;
    color: inherit;
  }
  &.desc:after {
    content: "\00a0↓";   // \00a0 is &nbsp;
    color: inherit;
  }
}

.log-viewer {
  position: fixed;
  left: 5em;
  right: 5em;
  bottom: 0;
  height: 20em;
  max-height: 70%;
  z-index: 1111;
  background: $gray-lighter;
  border: solid $gray-light 2px;
  border-bottom: 0;
  .options, .right {
    position: absolute;
    bottom: 100%;
    margin: 0 1em;
    background: $gray-lighter;
    border: solid $gray-light 2px;
    border-bottom: 0;
  }
  .right {
    padding: 0.5em;
    right: 0;
  }
  .scroll {
    height: 100%;
    padding: 1em;
    overflow: auto;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  .login-content {
    max-width: 30em;
    padding: 2em 15px;
    margin: auto;
    align-self: center;   // "margin: auto" is not enough for IE11
  }
  .list-inline a {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }
}

.central-box {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 30%;
  text-align: center;
}

// ugly workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=217769
// suggested in https://bugzilla.mozilla.org/show_bug.cgi?id=409254
thead:empty, tbody:empty, tfoot:empty {
  display: none;
}

.table.with-buttons-table td {
  vertical-align: middle;
}

.text-positive {
  color: rgb(35, 184, 35);
}

.text-negative {
  color: rgb(179, 35, 27);
}
