$uniba-color: #b3231b;
$brand-primary: $uniba-color;
$link-color: $uniba-color;

$font-size-base: 13px;
$font-size-h4: 18px;
$font-family-monospace: 9pt monospace;

$code-color: #333; // $text-color
$code-bg: #f5f5f5;

$nav-link-padding: 8px 13px;

$navbar-inverse-bg: #535250;
$navbar-inverse-color: #adadad;
$navbar-inverse-link-color: #adadad;

$table-condensed-cell-padding: 4px;

@import "votr-bootstrap";
@import "layout";
@import "forms";
@import "~react-big-calendar/lib/css/react-big-calendar";

html,
body {
  position: relative;
  height: 100%;
}

body,
.modal-open .modal {
  overflow-y: scroll;
}

a,
.btn.btn-link {
  text-decoration: underline;
  cursor: pointer; // for Votr.FakeLink
}

.nav a,
a.btn {
  text-decoration: none;
}

.nav .disabled a {
  text-decoration: line-through !important;
  cursor: auto !important;
}

.navbar-brand {
  text-decoration: none;
  font-weight: bold;
}

.text-pill {
  position: relative;
  display: block;
  padding: $nav-link-padding;
}

.close {
  // default bootstrap close button is too small imho
  // the value is from font-size in _close.scss
  min-width: ($font-size-base * 1.5);
  min-height: ($font-size-base * 1.5);
}

.selector {
  background: $gray-lighter;
  padding: 3px;
  border-radius: $border-radius-large;
  display: inline-block;

  li a:hover,
  li a:focus {
    background-color: #ddd;
  }
  .text-pill {
    color: $gray-light;
  }
}

.header {
  @include clearfix();
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  h1 {
    margin: 0;
    float: left;
  }
}

.section {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.skusky-calendar-menu {
  margin-left: 10px;
}

/* "html" = specificity tie breaker */
/* must win vs ".rbc-calendar", ".rbc-event", ".rbc-event.rbc-selected" */
html .skusky-calendar {
  height: 90vh;
  .rbc-event {
    cursor: inherit; /* there is no onClick event - for now */
  }
  .skusky-calendar-registered {
    background-color: #337ab7;
  }
  .skusky-calendar-unregistered {
    background-color: #999999;
  }
}

.loading {
  background-image: url(spinner.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

.table-bordered {
  th,
  td {
    border-left-style: none !important;
    border-right-style: none !important;
  }
}

.table-narrow {
  width: auto;
}

th.sort {
  cursor: pointer;
  &.asc,
  &.desc {
    background: $gray-lighter;
  }
  &:after {
    content: "\00a0↕"; // \00a0 is &nbsp;
    visibility: hidden;
  }
  &.asc:after {
    content: "\00a0↑"; // \00a0 is &nbsp;
    visibility: visible;
  }
  &.desc:after {
    content: "\00a0↓"; // \00a0 is &nbsp;
    visibility: visible;
  }
}

.log-viewer {
  position: fixed;
  left: 5em;
  right: 5em;
  bottom: 0;
  height: 20em;
  max-height: 70%;
  z-index: 1111;
  background: $gray-lighter;
  border: solid $gray-light;
  border-width: 0 2px;
  .options {
    position: absolute;
    bottom: 100%;
    left: -2px;
    right: -2px;
    background: $gray-lighter;
    border: solid $gray-light;
    border-width: 2px 2px 1px;
  }
  .list-inline {
    margin: 0.2em;
  }
  .close {
    padding: 0.2em;
  }
  .scroll {
    height: 100%;
    overflow: auto;
  }
  .scroll table {
    margin: 1em;
  }
  .scroll td {
    padding: 2px;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  .login-content {
    max-width: 30em;
    padding: 10vh 15px 15px; /* TODO: increase to 20vh later? */
    margin: auto;
    flex-grow: 1;
  }
  .list-inline a {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }
}

.login-error {
  word-break: break-all;
}

details {
  display: revert;
  margin-bottom: 9px; /* same as p, ul */
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

summary {
  display: revert;
  cursor: pointer;
}

.central-box {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 30%;
  text-align: center;
}

// ugly workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=217769
// suggested in https://bugzilla.mozilla.org/show_bug.cgi?id=409254
thead:empty,
tbody:empty,
tfoot:empty {
  display: none;
}

.table.with-buttons-table td {
  vertical-align: middle;
}

.text-positive {
  color: rgb(35, 184, 35);
}

.text-negative {
  color: rgb(179, 35, 27);
}

.appear-disabled {
  @include opacity(0.65);
  @include box-shadow(none);
}

.expand-arrow {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  margin-right: 4px;
}

.arrow-expanded {
  border-bottom: 6px dashed #555;
}

.arrow-collapsed {
  border-top: 6px dashed #555;
}

.anketapopup {
  padding: 15px;
  margin-bottom: $line-height-computed;
  border: solid $text-color 1px;
  border-radius: $border-radius-large;

  position: relative;
  transform: translateY(-120%);
  animation: anketa-slide 0.5s forwards;

  color: white;
  background-color: #ff7035;
  background:
    no-repeat content-box center top / contain url(stars.svg),
    linear-gradient(135deg, #ff7035, #ff5862);

  text-align: center;

  .close {
    // override default color and opacity from _close.scss
    color: white;
    @include opacity(0.8);
    &:hover,
    &:focus {
      @include opacity(1);
    }

    // keep both lines of text centered
    float: none;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
  }
}

@keyframes anketa-slide {
  100% {
    transform: translateY(0%);
  }
}

.anketapopup-line1 {
  padding-top: 10px;
  font-size: 120%;
}

.anketapopup-line2 {
  padding: 15px 0;
  font-size: 200%;
}

.anketapopup-buttons {
  color: $text-color;
  background-color: $body-bg;
  padding: 1em;
  border-radius: 1em;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
