
$uniba-color: #B3231B;
$brand-primary: $uniba-color;
$link-color: $uniba-color;

$font-size-base: 13px;
$font-size-h4: 18px;
$font-family-monospace: 9pt monospace;

$code-color: #333;   // $text-color
$code-bg: #F5F5F5;

$nav-link-padding: 8px 13px;

$navbar-inverse-bg: #535250;
$navbar-inverse-color: #ADADAD;
$navbar-inverse-link-color: #ADADAD;

$table-condensed-cell-padding: 4px;


@import "votr-bootstrap";
@import "layout";
@import "forms";
@import "spinner";


html, body {
  position: relative;
  height: 100%;
}

body, .modal-open .modal {
  overflow-y: scroll;
}

a, .btn.btn-link {
  text-decoration: underline;
  cursor: pointer;   // for Votr.FakeLink
}

.nav a, a.btn {
  text-decoration: none;
}

.nav .disabled a {
  text-decoration: line-through !important;
  cursor: auto !important;
}

.navbar-brand {
  text-decoration: none;
  font-weight: bold;
}

.text-pill {
  position: relative;
  display: block;
  padding: $nav-link-padding;
}

.selector {
  background: $gray-lighter;
  padding: 3px;
  border-radius: $border-radius-large;
  display: inline-block;

  li a:hover, li a:focus {
    background-color: #ddd;
  }
  .text-pill {
    color: $gray-light;
  }
}

.header {
  @include clearfix();
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
  h1 {
    margin: 0;
    float: left;
  }
}

.section {
  margin-top: $line-height-computed;
  margin-bottom: $line-height-computed;
}

.loading {
  background-image: $spinner;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 1.5em;
}

.table-bordered {
  th, td {
    border-left-style: none !important;
    border-right-style: none !important;
  }
}

.table-narrow {
  width: auto;
}

th.sort {
  cursor: pointer;
  &.asc, &.desc {
    background: $gray-lighter;
  }
  &:after {
    content: "\00a0↕";   // \00a0 is &nbsp;
    visibility: hidden;
  }
  &.asc:after {
    content: "\00a0↑";   // \00a0 is &nbsp;
    visibility: visible;
  }
  &.desc:after {
    content: "\00a0↓";   // \00a0 is &nbsp;
    visibility: visible;
  }
}

.log-viewer {
  position: fixed;
  left: 5em;
  right: 5em;
  bottom: 0;
  height: 20em;
  max-height: 70%;
  z-index: 1111;
  background: $gray-lighter;
  border: solid $gray-light;
  border-width: 0 2px;
  .options {
    position: absolute;
    bottom: 100%;
    left: -2px;
    right: -2px;
    background: $gray-lighter;
    border: solid $gray-light;
    border-width: 2px 2px 1px;
  }
  .list-inline {
    margin: .2em;
  }
  .close {
    padding: 0.2em;
  }
  .scroll {
    height: 100%;
    overflow: auto;
  }
  .scroll table {
    margin: 1em;
  }
  .scroll td {
    padding: 2px;
  }
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  .login-content {
    max-width: 30em;
    padding: 2em 15px;
    margin: auto;
    align-self: center;   // "margin: auto" is not enough for IE11
  }
  .list-inline a {
    color: $navbar-default-link-color;
    &:hover {
      color: $navbar-default-link-hover-color;
    }
  }
}

.central-box {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 30%;
  text-align: center;
}

// ugly workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=217769
// suggested in https://bugzilla.mozilla.org/show_bug.cgi?id=409254
thead:empty, tbody:empty, tfoot:empty {
  display: none;
}

.table.with-buttons-table td {
  vertical-align: middle;
}

.text-positive {
  color: rgb(35, 184, 35);
}

.text-negative {
  color: rgb(179, 35, 27);
}

.appear-disabled {
  @include opacity(.65);
  @include box-shadow(none);
}

.anketa__wrap {
  background-color: #fff;
  font-family: "Open Sans";
  font-size: 15px;
  border-left: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -230px;
  animation: slideIn 0.5s forwards;
  animation-delay: 0.1s;
  z-index: 99999;
}

.anketa__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}

.anketa__text-block {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 15px 1px;
  background-color: #ff7035;
  background: linear-gradient(135deg, #ff7035 0%,#ff5862 100%);
}

.anketa__button-wrap {
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 1px solid #ff6153;
  border-top: none;
}

.anketa__button-wrap::before {
  display: block;
  content: '';
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-top-color: #fe5f54;
}

.anketa__image {
  top: 15px;
  height: 60px;
  padding-bottom: 5px;
}

.anketa__button {
  border: 2px solid #b51b1b;
  padding: 5px 15px;
  background-color: #cd2a2a;
  text-decoration: none;
  color: white;
  transition: 0.3s ease all;
}

.anketa__button--main {
  border-color: #cd513d;
  background-color: #ff7035;
  background: linear-gradient(135deg, #ff7035 0%,#ff5862 100%);
  color: white;
  margin-bottom: 5px;
}

.anketa__button--main:hover {
  background-color: #d0420c;
  background: linear-gradient(135deg, #d0420c 0%,#d0420c 100%);
}

.anketa__button--secondary {
  border-color: transparent;
  background-color: white;
  color: black;
  font-size: 14px;
  font-weight: 300;
}

.anketa__button--secondary:hover {
  background-color: #dedede;
}

.anketa__subtitle {
  font-size: 14px;
  font-weight: 130;
}

@keyframes slideIn {
  100% {
    top: 110px;
  }
}
