$uniba-color: #B3231B;
$brand-primary: $uniba-color;
$link-color: $uniba-color;

$font-size-base: 13px;
$font-size-h4: 18px;
$font-family-monospace: 9pt monospace;

$code-color: #333;   // $text-color
$code-bg: #F5F5F5;

$nav-link-padding: 8px 13px;

$navbar-inverse-bg: #535250;
$navbar-inverse-color: #ADADAD;
$navbar-inverse-link-color: #ADADAD;

$table-condensed-cell-padding: 4px;
